.home {
  z-index: 0;
  height: 100vh;
  position: relative;
  margin: -2px 0px -2px -2px;
  background-color: #000000;
  background-image: url("../../assets/home-background.png");
  background-position: center center;
  background-size: cover;
  filter: blur(1.5px);
  &__test {
    height: 100vh;
    background-color: #000000;
    opacity: 0.5;
  }
}
