.header {
  position: fixed;
  width: 100%;
  background-color: #000000;

  &__logo {
    height: 80px;
    margin: -8px 24px 16px 0;
    float: left;
  }

  &__toggle {
    background-color: transparent;
    margin-top: 17px;
    float: right;
    :active {
      background-color: transparent;
    }

    &__icon {
      color: #ffffff;
      font-size: 24px;
    }
  }

  &__drawer {
    font-family: "Montserrat", sans-serif;
    &__menu {
      background-color: #000000;
      border: none;
      &__item {
        :active {
          background-color: transparent;
        }
        &__text {
          color: #ffffff;
        }
      }
    }
  }
}

.ant-menu-item.header__drawer__menu__item.ant-menu-item-selected {
  background-color: transparent;
}

.ant-drawer-body {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ant-drawer-content {
  opacity: 0.85;
}

.ant-drawer-content-wrapper {
  height: 100vh !important;
}

.ant-drawer-wrapper-body {
  background-color: #000000;
}

.ant-drawer-close {
  color: #ffffff;
  margin-left: -990px;
}

.anticon-close {
  margin-top: 20px;
  font-size: 24px;
}

.ant-drawer-close:focus,
.ant-drawer-close:hover {
  color: #ffffff;
  text-decoration: none;
}
